<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE,edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1>{{ sitename }}</h1>
            <button @click="toggleCheckout" :disabled="cart.length === 0">
                {{ uniqueCartItemCount }}
                <span class="fa fa-cart-plus"></span>
                Checkout
            </button>
            <button @click="toggleCheckout" :hidden="cart.length !== 0">
                Show All Items
            </button>
            <p>Sort By:</p>
            <button @click="sortProducts('price')">Price</button>
            <button @click="sortProducts('title')">Name</button>
            <button @click="sortProducts('availableInventory')">Availability</button>
            <p></p>
            <input type="checkbox" id="sortOrder" v-model="ascendingOrder">
            <label for="sortOrder">Ascending</label>
        </header>

        <div v-show="showProduct">
            <div class="product-container">
                <div class="product" v-for="product in sortedProducts" :key="product.id">
                    <figure>
                        <img :src="product.image" alt="Product Image">
                    </figure>
                    <h3>{{ product.title }}</h3>
                    <p v-html="product.description"></p>
                    <p>Location: {{ product.location }}</p>
                    <p>Price: £{{ product.price }} </p>
                    <p>Available Inventory: {{ product.availableInventory }}</p>
                    <h2 v-if="product.availableInventory === 0" class="inventory-message">
                        All out!
                    </h2>
                    <h3 v-else-if="product.availableInventory <= 5" class="inventory-message">
                        Only {{ product.availableInventory }} left!
                    </h2>
                    <button @click="addToCart(product)" :disabled="product.availableInventory === 0">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>

        <div v-show="!showProduct">
            <div class="checkout-container">
                <h2>Checkout</h2>
                <ul>
                    <div v-for="cartItem in cart" :key="cartItem.productId">
                        <div>
                            <img :src="getProductById(cartItem.productId).image" alt="Product Image">
                            <h2>{{ getProductById(cartItem.productId).title }}</h2>
                            <p>{{ getProductById(cartItem.productId).description }}</p>
                            <p>Location: {{ getProductById(cartItem.productId).location }}</p>
                            <p>Price: £{{ getProductById(cartItem.productId).price }}</p>
                            <p>Quantity: {{ cartItem.quantity }}</p>
                            <button @click="removeFromCart(cartItem.productId)">Remove Item</button>
                        </div>
                    </div>
                </ul>
                <p>Total: £{{ getTotalPrice() }}</p>

                <form @submit.prevent="submitForm">
                    <label for="name">Name:</label>
                    <input type="text" id="name" v-model="customerName" pattern="[A-Za-z]+" required>
                    
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="tel" id="phoneNumber" v-model="phoneNumber" pattern="[0-9]+" required>

                    <button v-if="isBuyButtonVisible" type="submit">Buy</button>

                    <p v-if="orderCompleted">Order Successful!</p>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script type="module">
        import json from './data.json' assert {type: 'json'}
        function getLessons(){
            var sorted = json.sort((a, b) => {
                let fa = a.title.toLowerCase(), fb = b.title.toLowerCase()
          
              if (fa < fb) {
                return -1
              }
              if (fa > fb) {
                return 1 
              }
              return 0

        });
            return sorted;
    }


        new Vue({
            el: '#app',
            data: {
                sitename: 'Lesson Shop',
                products: getLessons(), 
                cart: [],
                showProduct: true,
                sortLessons: '',
                customerName: '',
                phoneNumber: '',
                orderCompleted: false,
                ascendingOrder: true,
            },
            computed: {
                uniqueCartItemCount: function () {
                    return this.cart.length;
                },
                sortedProducts: function () {
                    let sortedArray = [...this.products];

                    if (this.sortLessons === 'price') {
                        sortedArray.sort((a, b) => (this.ascendingOrder ? a.price - b.price : b.price - a.price));
                    } else if (this.sortLessons === 'title') {
                        sortedArray.sort((a, b) => (this.ascendingOrder ? a.title.localeCompare(b.title) : b.title.localeCompare(a.title)));
                    } else if (this.sortLessons === 'availableInventory') {
                        sortedArray.sort((a, b) => (this.ascendingOrder ? a.availableInventory - b.availableInventory : b.availableInventory - a.availableInventory));
                    }

                    return sortedArray;
                },
                isBuyButtonVisible: function () {
                    return this.customerName.trim() !== '' && this.phoneNumber.trim() !== '';
                }
            },
            methods: {
                addToCart: function (selectedProduct) {
                    const cartItem = this.cart.find(item => item.productId === selectedProduct.id);
                    if (cartItem) {
                        cartItem.quantity++;
                    } else {
                        this.cart.push({ productId: selectedProduct.id, quantity: 1 });
                    }
                    selectedProduct.availableInventory--;
                },
                removeFromCart: function (productId) {
                    const cartItem = this.cart.find(item => item.productId === productId);
                    if (cartItem) {
                        cartItem.quantity--;
                        if (cartItem.quantity === 0) {
                            const cartItemIndex = this.cart.indexOf(cartItem);
                            this.cart.splice(cartItemIndex, 1);
                        }
                        const product = this.getProductById(productId);
                        product.availableInventory++;
                    }
                },
                sortProducts: function (criteria) {
                    this.sortLessons = this.sortLessons === criteria ? '' : criteria;
                },
                toggleCheckout: function () {
                    this.showProduct = !this.showProduct;
                },
                getProductById: function (productId) {
                    return this.products.find(product => product.id === productId);
                },
                getTotalPrice: function () {
                    return this.cart.reduce((total, cartItem) => {
                        const product = this.getProductById(cartItem.productId);
                        return total + (product.price * cartItem.quantity);
                    }, 0);
                },
                submitForm: function () {
                    if (/^[A-Za-z ]+$/.test(this.customerName) && /^[0-9]+$/.test(this.phoneNumber)) {
                        this.orderCompleted = true;
                        console.log('Form submitted!');
                        console.log('Name:', this.customerName);
                        console.log('Phone Number:', this.phoneNumber);
                    } else {
                        alert('Please enter a valid name and phone number.');
                    }
                },
            },
        });
    </script>
</body>
</html>

