<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE,edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1>{{ sitename }}</h1>
            <button @click="showCheckout" :disabled="cart.length === 0">
                {{ uniqueCartItemCount }}
                <span class="fa fa-cart-plus"></span>
                Checkout
            </button>
        </header>

        <div v-show="showProduct">
            <div class="product-container">
                <div class="product" v-for="product in products" :key="product.id">
                    <figure>
                        <img :src="product.image" alt="Product Image">
                    </figure>
                    <h3>{{ product.title }}</h3>
                    <p v-html="product.description"></p>
                    <p>Location: {{ product.location }}</p>
                    <p>Price: £{{ product.price }} </p>
                    <p>Available Inventory: {{ product.availableInventory }}</p>
                    <button @click="addToCart(product)" :disabled="product.availableInventory === 0">
                        Add to Cart
                    </button>
                    <span v-if="product.availableInventory === 0" class="inventory-message">
                        All out!
                    </span>
                    <span v-else-if="product.availableInventory <= 5" class="inventory-message">
                        Only {{ product.availableInventory }} left!
                    </span>
                </div>
            </div>
        </div>

        <div v-show="!showProduct">
            <div class="checkout-container">
                <h2>Checkout</h2>
                <ul>
                    <div v-for="cartItem in cart" :key="cartItem.productId">
                        <div>
                            <img :src="getProductById(cartItem.productId).image" alt="Product Image">
                            <h4>{{ getProductById(cartItem.productId).title }}</h4>
                            <p>{{ getProductById(cartItem.productId).description }}</p>
                            <p>Location: {{ getProductById(cartItem.productId).location }}</p>
                            <p>Price: £{{ getProductById(cartItem.productId).price }}</p>
                            <p>Quantity: {{ cartItem.quantity }}</p>
                            <button @click="removeFromCart(cartItem.productId)">Remove Item</button>
                        </div>
                    </div>
                </ul>
                <p>Total: £{{ getTotalPrice() }}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Lesson Purchaser',
                products: [
                    {
                        id: 1001,
                        title: 'Maths',
                        description: 'The study of numbers.',
                        location: 'London',
                        price: 5,
                        image: 'Images/Maths.png',
                        availableInventory: 8
                    },
                    {
                        id: 1002,
                        title: 'English',
                        description: 'The study of words.',
                        location: 'Manchester',
                        price: 12,
                        image: 'Images/English.png',
                        availableInventory: 4
                    },
                    {
                        id: 1003,
                        title: 'Chemistry',
                        description: 'The study of chemicals.',
                        location: 'Essex',
                        price: 4,
                        image: 'Images/Chemistry.png',
                        availableInventory: 6
                    },
                    {
                        id: 1004,
                        title: 'Biology',
                        description: 'The study of living organisms.',
                        location: 'Essex',
                        price: 4,
                        image: 'Images/Biology.png',
                        availableInventory: 5
                    },
                    {
                        id: 1005,
                        title: 'Physics',
                        description: 'The study of matter and the universe.',
                        location: 'Essex',
                        price: 4,
                        image: 'Images/Physics.png',
                        availableInventory: 3
                    },
                    {
                        id: 1006,
                        title: 'Computer Science',
                        description: 'The study of computation.',
                        location: 'Birmingham',
                        price: 12,
                        image: 'Images/Computer.png',
                        availableInventory: 9
                    },
                    {
                        id: 1007,
                        title: 'Drama',
                        description: 'The study of acting.',
                        location: 'Watford',
                        price: 8,
                        image: 'Images/Drama.png',
                        availableInventory: 2
                    },
                    {
                        id: 1008,
                        title: 'Neurology',
                        description: 'The study of the brain.',
                        location: 'Liverpool',
                        price: 6,
                        image: 'Images/Neurology.png',
                        availableInventory: 1
                    },
                    {
                        id: 1009,
                        title: 'Games Design',
                        description: 'The study of video games.',
                        location: 'Colindale',
                        price: 7,
                        image: 'Images/Games.png',
                        availableInventory: 15
                    },
                    {
                        id: 1010,
                        title: 'Network Security',
                        description: 'The study of networking and data security.',
                        location: 'Hendon',
                        price: 25,
                        image: 'Images/Networking.png',
                        availableInventory: 2
                    }
                    ],
                cart: [], // Track unique cart items and their quantities
                showProduct: true
            },
            computed: {
                uniqueCartItemCount: function () {
                    return this.cart.length;
                },
            },
            methods: {
                addToCart: function (selectedProduct) {
                    // Check if the product is already in the cart
                    const cartItem = this.cart.find(item => item.productId === selectedProduct.id);
                    if (cartItem) {
                        cartItem.quantity++;
                    } else {
                        this.cart.push({ productId: selectedProduct.id, quantity: 1 });
                    }
                    selectedProduct.availableInventory--; // Reduce available inventory by 1
                },
                removeFromCart: function (productId) {
                    const cartItem = this.cart.find(item => item.productId === productId);
                    if (cartItem) {
                        cartItem.quantity--;
                        if (cartItem.quantity === 0) {
                            const cartItemIndex = this.cart.indexOf(cartItem);
                            this.cart.splice(cartItemIndex, 1);
                        }
                        const product = this.getProductById(productId);
                        product.availableInventory++; // Readd the removed item back to the main page
                    }
                },
                showCheckout: function () {
                    if (this.cart.length === 0) {
                        console.log("Cart is empty. Redirecting to the main page.");
                    } else {
                        this.showProduct = !this.showProduct;
                    }
                },
                getProductById: function (productId) {
                    return this.products.find(product => product.id === productId);
                },
                getTotalPrice: function () {
                    return this.cart.reduce((total, cartItem) => {
                        const product = this.getProductById(cartItem.productId);
                        return total + (product.price * cartItem.quantity);
                    }, 0);
                }
            }
        });
    </script>
</body>
</html>